

.form-wrrap {
  max-width: 500px;
  padding: 20px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  input {
    width: 100%;
    margin-top: 15px;
    height: 40px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background: #ffffff;
    border: 2px solid #4285f4;
    padding-left: 10px;
    color: #000000;
    font-size: 15px;
    border-radius: 5px;
  }
  input[type="submit"] {
    background: #13b348;
    border: 2px solid #34a853;
    font-size: 16px;
    color: rgb(102, 12, 12);
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}

form {
  background:rgba(217, 221, 212, 0.876);
 width:300px;
 margin:30px auto;
 border-radius:0.4em;
 border:1px solid #e2e0e0;
 overflow:hidden;
 position:relative;
//  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

form:after {
 content:"";
 display:block;
 position:absolute;
 height:1px;
 width:100px;
 left:20%;
//  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
 top:0;
}

form:before {
  content:"";
 display:block;
 position:absolute;
 width:8px;
 height:5px;
 border-radius:50%;
 left:34%;
 top:-7px;
 box-shadow: 0 0 6px 4px #fff;
}

